#!/bin/bash
k3sup join --k3s-version {{ k3s_version  }} \
    --ip {{ internal_ip }} \
    --server-ip {{ master_ip }}  \
    --user debian \
    --server \
    --k3s-extra-args '--flannel-iface {{ cluster_iface }} --no-deploy=traefik --advertise-address={{ internal_ip }} --node-ip={{ internal_ip }} --node-external-ip={{ external_ip }}'  
sleep 10
